<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>SSIS</title>
		<link
			href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css"
			rel="stylesheet" />
		<link
			href="{{url_for('static', filename='css/navbar.css')}}"
			rel="stylesheet" />
		<link
			href="{{url_for('static', filename='css/style.css')}}"
			rel="stylesheet" />
	</head>
	<body class="bg-light">
		<nav class="navbar navbar-expand-lg card-navbar">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">SSIS</a>
				<button
					class="navbar-toggler"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#navbarNav">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<!-- Left Side Navigation -->
					<ul class="navbar-nav me-auto">
						<li class="nav-item">
							<a class="nav-link active" href="#">Students</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/programs">Programs</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/colleges">Colleges</a>
						</li>
					</ul>

					<div class="profile-section">
						<div class="profile-name">{{ user_display_name() }}</div>
						<a href="{{ url_for('user.logout') }}" class="logout-btn">Logout</a>
					</div>
				</div>
			</div>
		</nav>

		<div class="container-fluid">
			<div class="card-custom">
				<div class="card-body">
					<div class="title d-flex justify-content-between align-items-center">
						<h1 class="card-title">Students</h1>

						<button
							class="btn btn-primary"
							data-bs-toggle="modal"
							data-bs-target="#addStudentModal">
							<i class="fas fa-plus"></i> Add Student
						</button>
					</div>
					<div class="search-container">
						<i class="fas fa-search search-icon"></i>
						<select id="studentSearchFilter" class="search-filter">
							<option value="all">Search All</option>
						</select>
						<input
							type="text"
							id="studentSearch"
							class="search-input"
							placeholder="Search students..." />
					</div>
					<div class="row mt-2">
						<table class="table" id="studentTable">
							<thead>
								<tr>
									<th scope="col">Img</th>
									<th scope="col">ID</th>
									<th scope="col">Name</th>
									<th scope="col">Year Level</th>
									<th scope="col">Enrollment Status</th>
									<th scope="col">Program</th>
									<th scope="col">College</th>
									<th scope="col">Action</th>
								</tr>
							</thead>
							<tbody>
								{% for student in data %}
								<tr class="student-row">
									<td>
										<img
											src="{{student[5] or url_for('static', filename='images/default.jpg')}}"
											style="width: 200px; height: 200px"
											alt="Profile Image" />
									</td>
									<td>{{ student[0] }}</td>
									<td>{{ student[1] }}</td>
									<td>{{ student[2] }}</td>
									<td>{{ student[3] }}</td>
									<td data-program-id="{{ student[4] }}">{{ student[6] }}</td>
									<td>{{ student[7] }}</td>
									<td>
										<button
											class="btn btn-warning btn-edit"
											data-id="{{ student[0] }}">
											Edit
										</button>
										<button
											class="btn btn-danger btn-delete"
											data-id="{{ student[0] }}">
											Delete
										</button>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
						<div
							id="pagination"
							class="d-flex justify-content-center mt-3"></div>
					</div>
				</div>
			</div>
		</div>

		<div
			class="modal fade"
			id="addStudentModal"
			tabindex="-1"
			aria-labelledby="addStudentModalLabel"
			aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="addStudentModalLabel">Add Student</h5>
						<button
							type="button"
							class="btn-close"
							data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<form id="addStudentForm">
							{{ studentform.hidden_tag() }}
							<div class="mb-3 studentId">
								{{ studentform.studentIdYear.label(class="form-label") }}
								<div class="studentField">
									{{ studentform.studentIdYear(class="form-control idField",
									id="studentIdYear", required=True) }}
									<div class="" style="margin-left: 10px; margin-right: 10px">
										-
									</div>
									{{ studentform.studentIdNumber(class="form-control idField",
									id="studentIdNumber", required=True) }}
								</div>
							</div>
							<div class="mb-3">
								{{ studentform.name.label(class="form-label") }} {{
								studentform.name(class="form-control", id="studentName",
								required=True) }}
							</div>
							<div class="mb-3">
								{{ studentform.program.label(class="form-label") }} {{
								studentform.program(class="form-control form-select",
								id="program", required=True) }}
							</div>
							<div class="mb-3">
								{{ studentform.yearLevel.label(class="form-label") }} {{
								studentform.yearLevel(class="form-control form-select",
								id="yearLevel", required=True) }}
							</div>
							<div class="mb-3">
								{{ studentform.enrollmentStatus.label(class="form-label") }} {{
								studentform.enrollmentStatus(class="form-control form-select",
								id="enrollmentStatus", required=True) }}
							</div>
							<div class="mb-3">
								{{ studentform.image.label(class="form-label") }}
								<div class="image-upload-container">
									<img
										id="imagePreview"
										src="{{ url_for('static', filename='images/default.jpg') }}"
										class="mb-2 img-preview"
										alt="Preview"
										style="width: 200px; height: 200px" />
									{{ studentform.image(class="form-control", id="studentImage",
									accept="image/*") }}
								</div>
							</div>
						</form>
						<div class="error alert alert-danger d-none"></div>
					</div>

					<div class="modal-footer">
						<button
							type="button"
							class="btn btn-secondary"
							data-bs-dismiss="modal">
							Close
						</button>
						<button type="button" class="btn btn-primary" id="submitAddStudent">
							Add Student
						</button>
					</div>
				</div>
			</div>
		</div>
		<div
			class="modal fade"
			id="editStudentModal"
			tabindex="-1"
			aria-labelledby="editStudentModalLabel"
			aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="editStudentModalLabel">Edit Student</h5>
						<button
							type="button"
							class="btn-close"
							data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<form id="editStudentForm">
							{{ studentform.hidden_tag() }}
							<input type="hidden" id="editStudentId" />
							<div class="mb-3 studentId">
								{{ studentform.studentIdYear.label(class="form-label") }}
								<div class="studentField">
									{{ studentform.studentIdYear(class="form-control idField",
									id="editStudentIdYear", required=True) }}
									<div class="" style="margin-left: 10px; margin-right: 10px">
										-
									</div>
									{{ studentform.studentIdNumber(class="form-control idField",
									id="editStudentIdNumber", required=True) }}
								</div>
							</div>
							<div class="mb-3">
								{{ studentform.name.label(class="form-label") }} {{
								studentform.name(class="form-control", id="editStudentName",
								required=True) }}
							</div>
							<div class="mb-3">
								{{ studentform.program.label(class="form-label") }} {{
								studentform.program(class="form-control form-select",
								id="editProgram", required=True) }}
							</div>
							<div class="mb-3">
								{{ studentform.yearLevel.label(class="form-label") }} {{
								studentform.yearLevel(class="form-control form-select",
								id="editYearLevel", required=True) }}
							</div>
							<div class="mb-3">
								{{ studentform.enrollmentStatus.label(class="form-label") }} {{
								studentform.enrollmentStatus(class="form-control form-select",
								id="editEnrollmentStatus", required=True) }}
							</div>
							<div class="image-upload-container">
								<img
									id="editImagePreview"
									src="{{ url_for('static', filename='images/default.jpg') }}"
									class="mb-2 img-preview"
									alt="Preview"
									style="width: 200px; height: 200px" />
								{{ studentform.image(class="form-control",
								id="editStudentImage", accept="image/*") }}
							</div>
						</form>
						<div class="error alert alert-danger d-none"></div>
					</div>
					<div class="modal-footer">
						<button
							type="button"
							class="btn btn-secondary"
							data-bs-dismiss="modal">
							Close
						</button>
						<button
							type="button"
							class="btn btn-primary"
							id="submitEditStudent">
							Save Changes
						</button>
					</div>
				</div>
			</div>
		</div>
		<script
			src="https://kit.fontawesome.com/c064d25bcd.js"
			crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>
		<script src="{{url_for('static', filename='js/student.js')}}"></script>
		<script src="{{url_for('static', filename='js/livesearch.js')}}"></script>
		<script>
			document.addEventListener("DOMContentLoaded", function () {
				setupLiveSearch(
					"studentTable",
					"studentSearch",
					"studentSearchFilter",
					[
						{ value: "id", label: "Search by ID" },
						{ value: "name", label: "Search by Name" },
					]
				);
			});

			document.addEventListener("DOMContentLoaded", function () {
				// Configuration
				const rowsPerPage = 5; // Number of rows per page
				const table = document.getElementById("studentTable");
				const rows = Array.from(table.querySelectorAll(".student-row"));
				const pagination = document.getElementById("pagination");

				function renderTablePage(page) {
					const start = (page - 1) * rowsPerPage;
					const end = start + rowsPerPage;
					rows.forEach((row, index) => {
						row.style.display = index >= start && index < end ? "" : "none";
					});
				}

				function setupPagination(totalRows) {
					const totalPages = Math.ceil(totalRows / rowsPerPage);
					pagination.innerHTML = ""; // Clear existing pagination

					for (let i = 1; i <= totalPages; i++) {
						const button = document.createElement("button");
						button.textContent = i;
						button.className = "btn btn-outline-primary mx-1";
						button.addEventListener("click", () => {
							renderTablePage(i);
							document
								.querySelectorAll("#pagination button")
								.forEach((btn) => btn.classList.remove("active"));
							button.classList.add("active");
						});

						if (i === 1) {
							button.classList.add("active");
						}
						pagination.appendChild(button);
					}
				}

				// Initialize
				renderTablePage(1);
				setupPagination(rows.length);
			});
		</script>
	</body>
</html>
