[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
flask-login = "*"
authlib = "*"
mysql-connector-python = "*"
mysql = "*"
flask-mysqldb = "*"
email-validator = "*"
flask-dance = "*"
requests-oauthlib = "*"
requests = "*"
oauthlib = "*"
pyopenssl = "*"

[dev-packages]

[requires]
python_version = "3.10"
