body {
	background-color: #f8f9fa;
}

.card {
	border-radius: 15px;
	width: 400px;
}
.card-custom {
	background: white;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06);
	border-radius: 12px;
	margin: 20px;
}
.card-body {
	padding: 30px;
}

.btn-primary {
	background-color: #007bff;
	border-color: #007bff;
	height: 50px;
	border-radius: 10px;
}

.btn-primary:hover {
	background-color: #0056b3;
}

.btn-danger {
	background-color: #dc3545;
	border-color: #dc3545;
}

.btn-danger:hover {
	background-color: #c82333;
}

td {
	align-content: center;
}

.studentId {
	width: 100px;
	justify-content: space-between;
}

.studentField {
	display: flex;
	align-items: center;
	flex-direction: row;
}

.idField {
	width: 100px;
}
