<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>SSIS</title>
		<link
			href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css"
			rel="stylesheet" />
		<link
			href="{{url_for('static', filename='css/navbar.css')}}"
			rel="stylesheet" />
		<link
			href="{{url_for('static', filename='css/style.css')}}"
			rel="stylesheet" />
	</head>
	<body class="bg-light">
		<nav class="navbar navbar-expand-lg card-navbar">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">SSIS</a>
				<button
					class="navbar-toggler"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#navbarNav">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<!-- Left Side Navigation -->
					<ul class="navbar-nav me-auto">
						<li class="nav-item">
							<a class="nav-link" href="/">Students</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" href="#">Programs</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/colleges">Colleges</a>
						</li>
					</ul>

					<div class="profile-section">
						<div class="profile-name">{{ user_display_name() }}</div>
						<a href="{{ url_for('user.logout') }}" class="logout-btn">Logout</a>
					</div>
				</div>
			</div>
		</nav>

		<div class="container-fluid">
			<div class="card-custom">
				<div class="card-body">
					<div class="title d-flex justify-content-between align-items-center">
						<h1 class="card-title">Programs</h1>
						<button
							class="btn btn-primary"
							data-bs-toggle="modal"
							data-bs-target="#addProgramModal">
							<i class="fas fa-plus"></i> Add Program
						</button>
					</div>

					<div class="row mt-2">
						<table class="table">
							<thead>
								<tr>
									<th scope="col">ID</th>
									<th scope="col">Course Code</th>
									<th scope="col">Name</th>
									<th scope="col">College</th>
									<th scope="col">Action</th>
								</tr>
							</thead>
							<tbody>
								{% for program in data %}
								<tr>
									<td>{{ program[0] }}</td>
									<td>{{ program[1] }}</td>
									<td>{{ program[2] }}</td>
									<td>{{ program[4] }}</td>
									<td>
										<button
											class="btn btn-warning btn-edit"
											data-id="{{ program[0] }}">
											Edit
										</button>
										<button
											class="btn btn-danger btn-delete"
											data-id="{{ program[0] }}">
											Delete
										</button>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div
			class="modal fade"
			id="addProgramModal"
			tabindex="-1"
			aria-labelledby="addProgramModalLabel"
			aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="addProgramModalLabel">Add Program</h5>
						<button
							type="button"
							class="btn-close"
							data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<form id="addProgramForm">
							{{ programForm.hidden_tag() }}
							<div class="mb-3">
								{{ programForm.courseCode.label(class="form-label") }} {{
								programForm.courseCode(class="form-control", id="courseCode",
								required=True) }}
							</div>
							<div class="mb-3">
								{{ programForm.name.label(class="form-label") }} {{
								programForm.name(class="form-control", id="name", required=True)
								}}
							</div>
							<div class="mb-3">
								{{ programForm.college.label(class="form-label") }} {{
								programForm.college(class="form-control form-select",
								id="college", required=True) }}
							</div>
						</form>
						<div class="error alert alert-danger d-none"></div>
						<!-- Hide error message initially -->
					</div>
					<div class="modal-footer">
						<button
							type="button"
							class="btn btn-secondary"
							data-bs-dismiss="modal">
							Close
						</button>
						<button type="button" class="btn btn-primary" id="submitAddProgram">
							Add Program
						</button>
					</div>
				</div>
			</div>
		</div>
		<div
			class="modal fade"
			id="editProgramModal"
			tabindex="-1"
			aria-labelledby="editProgramModalLabel"
			aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="editProgramModalLabel">Edit Program</h5>
						<button
							type="button"
							class="btn-close"
							data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<form id="editProgramForm">
							{{ programForm.hidden_tag() }}
							<input type="hidden" id="editProgramId" />
							<div class="mb-3">
								{{ programForm.courseCode.label(class="form-label") }} {{
								programForm.courseCode(class="form-control",
								id="editCourseCode", required=True) }}
							</div>
							<div class="mb-3">
								{{ programForm.name.label(class="form-label") }} {{
								programForm.name(class="form-control", id="editProgramName",
								required=True) }}
							</div>
							<div class="mb-3">
								{{ programForm.college.label(class="form-label") }} {{
								programForm.college(class="form-control", id="editCollege",
								required=True) }}
							</div>
						</form>
						<div class="error alert alert-danger d-none"></div>
					</div>
					<div class="modal-footer">
						<button
							type="button"
							class="btn btn-secondary"
							data-bs-dismiss="modal">
							Close
						</button>
						<button
							type="button"
							class="btn btn-primary"
							id="submitEditProgram">
							Save Changes
						</button>
					</div>
				</div>
			</div>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>
		<script src="{{url_for('static', filename='js/program.js')}}"></script>
	</body>
</html>
